# Predictive Modeling # 
We will use Keras for a logistic regression model. In this notebook, instead of ignoring all instances with missing values, we chose to replace the missing values with the means of the feature. Previously, when we ignored all instances with missing values, our dataset dropped to 392 instances. With this simple form of data augmentation, we are able to preserve the size of 768 instances.

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sb
import numpy as np 
import itertools

plt.style.use('fivethirtyeight')

from subprocess import check_output 

from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
diabetes = pd.read_csv('../data/pima-indians-diabetes.data.csv', header=None)

## Cleaning out the missing values ##

In [3]:
diabetes.head(3)

   0    1   2   3  4     5      6   7  8
0  6  148  72  35  0  33.6  0.627  50  1
1  1   85  66  29  0  26.6  0.351  31  0
2  8  183  64   0  0  23.3  0.672  32  1

In [4]:
diabetes_nan = diabetes.copy(deep=True)
diabetes_nan[[1,2,3,4,5]] = diabetes_nan[[1,2,3,4,5]].replace(0, np.NaN)
# print(diabetes_no_nan.isnull().sum())
print(diabetes_nan.head(3))

   0      1     2     3   4     5      6   7  8
0  6  148.0  72.0  35.0 NaN  33.6  0.627  50  1
1  1   85.0  66.0  29.0 NaN  26.6  0.351  31  0
2  8  183.0  64.0   NaN NaN  23.3  0.672  32  1

In [5]:
diabetes.head(3)

   0    1   2   3  4     5      6   7  8
0  6  148  72  35  0  33.6  0.627  50  1
1  1   85  66  29  0  26.6  0.351  31  0
2  8  183  64   0  0  23.3  0.672  32  1

In [6]:
means = diabetes_nan.mean(axis=0)
print means

0      3.845052
1    121.686763
2     72.405184
3     29.153420
4    155.548223
5     32.457464
6      0.471876
7     33.240885
8      0.348958
dtype: float64

## Data Augmentation to replace NaN ##

In [7]:
diabetes_nan_mean = diabetes_nan.fillna(means)

In [8]:
diabetes_nan_mean

      0      1          2         3           4          5      6   7  8
0     6  148.0  72.000000  35.00000  155.548223  33.600000  0.627  50  1
1     1   85.0  66.000000  29.00000  155.548223  26.600000  0.351  31  0
2     8  183.0  64.000000  29.15342  155.548223  23.300000  0.672  32  1
3     1   89.0  66.000000  23.00000   94.000000  28.100000  0.167  21  0
4     0  137.0  40.000000  35.00000  168.000000  43.100000  2.288  33  1
5     5  116.0  74.000000  29.15342  155.548223  25.600000  0.201  30  0
6     3   78.0  50.000000  32.00000   88.000000  31.000000  0.248  26  1
7    10  115.0  72.405184  29.15342  155.548223  35.300000  0.134  29  0
8     2  197.0  70.000000  45.00000  543.000000  30.500000  0.158  53  1
9     8  125.0  96.000000  29.15342  155.548223  32.457464  0.232  54  1
10    4  110.0  92.000000  29.15342  155.548223  37.600000  0.191  30  0
11   10  168.0  74.000000  29.15342  155.548223  38.000000  0.537  34  1
12   10  139.0  80.000000  29.15342  155.548223  27.100000  1.441  57  0
13    1  189.0  60.000000  23.00000  846.000000  30.100000  0.398  59  1
14    5  166.0  72.000000  19.00000  175.000000  25.800000  0.587  51  1
15    7  100.0  72.405184  29.15342  155.548223  30.000000  0.484  32  1
16    0  118.0  84.000000  47.00000  230.000000  45.800000  0.551  31  1
17    7  107.0  74.000000  29.15342  155.548223  29.600000  0.254  31  1
18    1  103.0  30.000000  38.00000   83.000000  43.300000  0.183  33  0
19    1  115.0  70.000000  30.00000   96.000000  34.600000  0.529  32  1
20    3  126.0  88.000000  41.00000  235.000000  39.300000  0.704  27  0
21    8   99.0  84.000000  29.15342  155.548223  35.400000  0.388  50  0
22    7  196.0  90.000000  29.15342  155.548223  39.800000  0.451  41  1
23    9  119.0  80.000000  35.00000  155.548223  29.000000  0.263  29  1
24   11  143.0  94.000000  33.00000  146.000000  36.600000  0.254  51  1
25   10  125.0  70.000000  26.00000  115.000000  31.100000  0.205  41  1
26    7  147.0  76.000000  29.15342  155.548223  39.400000  0.257  43  1
27    1   97.0  66.000000  15.00000  140.000000  23.200000  0.487  22  0
28   13  145.0  82.000000  19.00000  110.000000  22.200000  0.245  57  0
29    5  117.0  92.000000  29.15342  155.548223  34.100000  0.337  38  0
..   ..    ...        ...       ...         ...        ...    ...  .. ..
738   2   99.0  60.000000  17.00000  160.000000  36.600000  0.453  21  0
739   1  102.0  74.000000  29.15342  155.548223  39.500000  0.293  42  1
740  11  120.0  80.000000  37.00000  150.000000  42.300000  0.785  48  1
741   3  102.0  44.000000  20.00000   94.000000  30.800000  0.400  26  0
742   1  109.0  58.000000  18.00000  116.000000  28.500000  0.219  22  0
743   9  140.0  94.000000  29.15342  155.548223  32.700000  0.734  45  1
744  13  153.0  88.000000  37.00000  140.000000  40.600000  1.174  39  0
745  12  100.0  84.000000  33.00000  105.000000  30.000000  0.488  46  0
746   1  147.0  94.000000  41.00000  155.548223  49.300000  0.358  27  1
747   1   81.0  74.000000  41.00000   57.000000  46.300000  1.096  32  0
748   3  187.0  70.000000  22.00000  200.000000  36.400000  0.408  36  1
749   6  162.0  62.000000  29.15342  155.548223  24.300000  0.178  50  1
750   4  136.0  70.000000  29.15342  155.548223  31.200000  1.182  22  1
751   1  121.0  78.000000  39.00000   74.000000  39.000000  0.261  28  0
752   3  108.0  62.000000  24.00000  155.548223  26.000000  0.223  25  0
753   0  181.0  88.000000  44.00000  510.000000  43.300000  0.222  26  1
754   8  154.0  78.000000  32.00000  155.548223  32.400000  0.443  45  1
755   1  128.0  88.000000  39.00000  110.000000  36.500000  1.057  37  1
756   7  137.0  90.000000  41.00000  155.548223  32.000000  0.391  39  0
757   0  123.0  72.000000  29.15342  155.548223  36.300000  0.258  52  1
758   1  106.0  76.000000  29.15342  155.548223  37.500000  0.197  26  0
759   6  190.0  92.000000  29.15342  155.548223  35.500000  0.278  66  1
760   2   88.0  58.000000  26.00000   16.000000  28.400000  0.766  22  0
761   9  170.0  74.000000  31.00000  155.548223  44.000000  0.403  43  1
762   9   89.0  62.000000  29.15342  155.548223  22.500000  0.142  33  0
763  10  101.0  76.000000  48.00000  180.000000  32.900000  0.171  63  0
764   2  122.0  70.000000  27.00000  155.548223  36.800000  0.340  27  0
765   5  121.0  72.000000  23.00000  112.000000  26.200000  0.245  30  0
766   1  126.0  60.000000  29.15342  155.548223  30.100000  0.349  47  1
767   1   93.0  70.000000  31.00000  155.548223  30.400000  0.315  23  0

[768 rows x 9 columns]

# Begin Training #

In [9]:
train, test = train_test_split(diabetes_nan_mean, 
                               test_size=.20, 
                               random_state=0, 
                               stratify=diabetes_nan_mean[8])

train_X = train[train.columns[:8]]
test_X = test[test.columns[:8]]

train_Y = train[8]
test_Y = test[8]

print train_X.shape
print test_X.shape

(614, 8)
(154, 8)

In [10]:
count_1 = 0
count_0 = 0
for i in train_Y: 
    if i == 1: count_1+=1
    if i == 0: count_0+=1 

print count_1 
print count_0
print len(train_Y)

214
400
614

In [11]:
test_X = test_X.values
train_X = train_X.values
test_Y = test_Y.values
train_Y = train_Y.values

In [12]:
train_Y_format = np.zeros(shape=(len(train_Y), 2))
for i in range(len(train_Y)):
    if train_Y[i] == 0: 
        train_Y_format[i] = [1,0]
    elif train_Y[i] == 1: 
        train_Y_format[i] = [0,1]
    else: 
        print "uh oh"

In [13]:
test_Y_format = np.zeros(shape=(len(test_Y), 2))
for i in range(len(test_Y)):
    if test_Y[i] == 0: 
        test_Y_format[i] = [1,0]
    elif test_Y[i] == 1: 
        test_Y_format[i] = [0,1]
    else: 
        print "uh oh"

# Let's attempt to train a logistic regression model #

In [14]:
from keras.models import Sequential 
from keras.layers import Dense, Activation 
from keras.regularizers import L1L2

output_dim = nb_classes = 2
input_dim = 8

model = Sequential() 
model.add(Dense(output_dim, 
                input_dim=input_dim, 
                activation='softmax',
                kernel_regularizer=L1L2(l1=0.0, l2=0.1),
                )) 
batch_size = 10
nb_epoch = 60

/Users/calvin-is-seksy/anaconda/envs/main/lib/python2.7/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [15]:
model.compile(optimizer='adagrad', 
              loss='binary_crossentropy', 
              metrics=['accuracy']) 

model.fit(train_X, train_Y_format, 
                    batch_size=batch_size, 
                    epochs=nb_epoch,
                    verbose=1, 
                    validation_data=(test_X, test_Y_format)) 

score = model.evaluate(test_X, test_Y_format, verbose=0) 

print('Test score:', score[0]) 
print('Test accuracy:', score[1])

Train on 614 samples, validate on 154 samples
Epoch 1/60
614/614 [==============================] - 0s 513us/step - loss: 10.6545 - acc: 0.3485 - val_loss: 10.5745 - val_acc: 0.3506
Epoch 2/60
614/614 [==============================] - 0s 369us/step - loss: 10.5853 - acc: 0.3485 - val_loss: 10.5315 - val_acc: 0.3506
Epoch 3/60
614/614 [==============================] - 0s 354us/step - loss: 10.5516 - acc: 0.3485 - val_loss: 10.5051 - val_acc: 0.3506
Epoch 4/60
614/614 [==============================] - 0s 364us/step - loss: 10.5294 - acc: 0.3485 - val_loss: 10.4865 - val_acc: 0.3506
Epoch 5/60
614/614 [==============================] - 0s 364us/step - loss: 10.5134 - acc: 0.3485 - val_loss: 10.4727 - val_acc: 0.3506
Epoch 6/60
614/614 [==============================] - 0s 413us/step - loss: 10.4978 - acc: 0.3485 - val_loss: 10.4294 - val_acc: 0.3506
Epoch 7/60
614/614 [==============================] - 0s 419us/step - loss: 7.4285 - acc: 0.4283 - val_loss: 4.6530 - val_acc: 0.4675
Epoch 8/60
614/614 [==============================] - 0s 437us/step - loss: 3.6599 - acc: 0.4772 - val_loss: 4.1281 - val_acc: 0.4740
Epoch 9/60
614/614 [==============================] - 0s 453us/step - loss: 3.0815 - acc: 0.4919 - val_loss: 3.5852 - val_acc: 0.4805
Epoch 10/60
614/614 [==============================] - 0s 361us/step - loss: 2.6941 - acc: 0.4837 - val_loss: 3.2635 - val_acc: 0.4870
Epoch 11/60
614/614 [==============================] - 0s 421us/step - loss: 2.3164 - acc: 0.4919 - val_loss: 2.8679 - val_acc: 0.4935
Epoch 12/60
614/614 [==============================] - 0s 613us/step - loss: 1.9953 - acc: 0.4902 - val_loss: 2.5461 - val_acc: 0.5000
Epoch 13/60
614/614 [==============================] - 0s 392us/step - loss: 1.7130 - acc: 0.4935 - val_loss: 2.1298 - val_acc: 0.5000
Epoch 14/60
614/614 [==============================] - 0s 393us/step - loss: 1.4562 - acc: 0.5114 - val_loss: 1.8011 - val_acc: 0.5519
Epoch 15/60
614/614 [==============================] - 0s 433us/step - loss: 1.2292 - acc: 0.5277 - val_loss: 1.5396 - val_acc: 0.5260
Epoch 16/60
614/614 [==============================] - 0s 358us/step - loss: 1.0150 - acc: 0.5521 - val_loss: 1.2253 - val_acc: 0.5455
Epoch 17/60
614/614 [==============================] - 0s 396us/step - loss: 0.8719 - acc: 0.5603 - val_loss: 0.9690 - val_acc: 0.6039
Epoch 18/60
614/614 [==============================] - 0s 424us/step - loss: 0.7753 - acc: 0.6042 - val_loss: 0.8290 - val_acc: 0.6299
Epoch 19/60
614/614 [==============================] - 0s 314us/step - loss: 0.7069 - acc: 0.6547 - val_loss: 0.7021 - val_acc: 0.6429
Epoch 20/60
614/614 [==============================] - 0s 325us/step - loss: 0.6725 - acc: 0.6678 - val_loss: 0.7529 - val_acc: 0.6688
Epoch 21/60
614/614 [==============================] - 0s 317us/step - loss: 0.6656 - acc: 0.6824 - val_loss: 0.6507 - val_acc: 0.6623
Epoch 22/60
614/614 [==============================] - 0s 339us/step - loss: 0.6572 - acc: 0.6906 - val_loss: 0.6457 - val_acc: 0.6623
Epoch 23/60
614/614 [==============================] - 0s 323us/step - loss: 0.6597 - acc: 0.6678 - val_loss: 0.6564 - val_acc: 0.6948
Epoch 24/60
614/614 [==============================] - 0s 322us/step - loss: 0.6598 - acc: 0.6971 - val_loss: 0.6572 - val_acc: 0.6883
Epoch 25/60
614/614 [==============================] - 0s 323us/step - loss: 0.6497 - acc: 0.6824 - val_loss: 0.6297 - val_acc: 0.6818
Epoch 26/60
614/614 [==============================] - 0s 319us/step - loss: 0.6457 - acc: 0.6857 - val_loss: 0.6457 - val_acc: 0.6818
Epoch 27/60
614/614 [==============================] - 0s 329us/step - loss: 0.6433 - acc: 0.6824 - val_loss: 0.6321 - val_acc: 0.6753
Epoch 28/60
614/614 [==============================] - 0s 324us/step - loss: 0.6379 - acc: 0.6938 - val_loss: 0.6209 - val_acc: 0.6883
Epoch 29/60
614/614 [==============================] - 0s 414us/step - loss: 0.6372 - acc: 0.6954 - val_loss: 0.6161 - val_acc: 0.7013
Epoch 30/60
614/614 [==============================] - 0s 468us/step - loss: 0.6366 - acc: 0.6971 - val_loss: 0.6277 - val_acc: 0.7078
Epoch 31/60
614/614 [==============================] - 0s 348us/step - loss: 0.6288 - acc: 0.6954 - val_loss: 0.7107 - val_acc: 0.6688
Epoch 32/60
614/614 [==============================] - 0s 342us/step - loss: 0.6386 - acc: 0.6922 - val_loss: 0.6294 - val_acc: 0.6948
Epoch 33/60
614/614 [==============================] - 0s 423us/step - loss: 0.6337 - acc: 0.6873 - val_loss: 0.6230 - val_acc: 0.7013
Epoch 34/60
614/614 [==============================] - 0s 351us/step - loss: 0.6231 - acc: 0.7020 - val_loss: 0.6649 - val_acc: 0.6883
Epoch 35/60
614/614 [==============================] - 0s 318us/step - loss: 0.6266 - acc: 0.6971 - val_loss: 0.6307 - val_acc: 0.6948
Epoch 36/60
614/614 [==============================] - 0s 338us/step - loss: 0.6314 - acc: 0.6889 - val_loss: 0.5992 - val_acc: 0.6948
Epoch 37/60
614/614 [==============================] - 0s 321us/step - loss: 0.6223 - acc: 0.6987 - val_loss: 0.6048 - val_acc: 0.6948
Epoch 38/60
614/614 [==============================] - 0s 322us/step - loss: 0.6219 - acc: 0.7003 - val_loss: 0.6057 - val_acc: 0.7013
Epoch 39/60
614/614 [==============================] - 0s 454us/step - loss: 0.6288 - acc: 0.7036 - val_loss: 0.5981 - val_acc: 0.7143
Epoch 40/60
614/614 [==============================] - 0s 409us/step - loss: 0.6265 - acc: 0.7020 - val_loss: 0.5956 - val_acc: 0.7078
Epoch 41/60
614/614 [==============================] - 0s 320us/step - loss: 0.6210 - acc: 0.6954 - val_loss: 0.5979 - val_acc: 0.6948
Epoch 42/60
614/614 [==============================] - 0s 367us/step - loss: 0.6222 - acc: 0.6922 - val_loss: 0.5905 - val_acc: 0.7143
Epoch 43/60
614/614 [==============================] - 0s 492us/step - loss: 0.6195 - acc: 0.6808 - val_loss: 0.5896 - val_acc: 0.7208
Epoch 44/60
614/614 [==============================] - 0s 459us/step - loss: 0.6166 - acc: 0.7036 - val_loss: 0.5881 - val_acc: 0.7143
Epoch 45/60
614/614 [==============================] - 0s 332us/step - loss: 0.6127 - acc: 0.7117 - val_loss: 0.6056 - val_acc: 0.7078
Epoch 46/60
614/614 [==============================] - 0s 381us/step - loss: 0.6217 - acc: 0.7036 - val_loss: 0.6132 - val_acc: 0.6948
Epoch 47/60
614/614 [==============================] - 0s 446us/step - loss: 0.6183 - acc: 0.7020 - val_loss: 0.5916 - val_acc: 0.7143
Epoch 48/60
614/614 [==============================] - 0s 376us/step - loss: 0.6153 - acc: 0.6938 - val_loss: 0.5893 - val_acc: 0.7143
Epoch 49/60
614/614 [==============================] - 0s 332us/step - loss: 0.6147 - acc: 0.6971 - val_loss: 0.5823 - val_acc: 0.7273
Epoch 50/60
614/614 [==============================] - 0s 331us/step - loss: 0.6153 - acc: 0.6987 - val_loss: 0.5940 - val_acc: 0.7143
Epoch 51/60
614/614 [==============================] - 0s 313us/step - loss: 0.6148 - acc: 0.7036 - val_loss: 0.5795 - val_acc: 0.7273
Epoch 52/60
614/614 [==============================] - 0s 314us/step - loss: 0.6113 - acc: 0.6954 - val_loss: 0.5923 - val_acc: 0.7078
Epoch 53/60
614/614 [==============================] - 0s 333us/step - loss: 0.6158 - acc: 0.6889 - val_loss: 0.5790 - val_acc: 0.7338
Epoch 54/60
614/614 [==============================] - 0s 344us/step - loss: 0.6148 - acc: 0.7150 - val_loss: 0.6025 - val_acc: 0.7013
Epoch 55/60
614/614 [==============================] - 0s 337us/step - loss: 0.6163 - acc: 0.6824 - val_loss: 0.5882 - val_acc: 0.7078
Epoch 56/60
614/614 [==============================] - 0s 338us/step - loss: 0.6114 - acc: 0.6987 - val_loss: 0.5760 - val_acc: 0.7403
Epoch 57/60
614/614 [==============================] - 0s 354us/step - loss: 0.6081 - acc: 0.6971 - val_loss: 0.6019 - val_acc: 0.7143
Epoch 58/60
614/614 [==============================] - 0s 414us/step - loss: 0.6077 - acc: 0.6726 - val_loss: 0.5764 - val_acc: 0.7338
Epoch 59/60
614/614 [==============================] - 0s 348us/step - loss: 0.6116 - acc: 0.6873 - val_loss: 0.5879 - val_acc: 0.7143
Epoch 60/60
614/614 [==============================] - 0s 359us/step - loss: 0.6050 - acc: 0.7068 - val_loss: 0.5759 - val_acc: 0.7338
('Test score:', 0.5758569194124891)
('Test accuracy:', 0.7337662306698886)

# RESULTS #

In this notebook, we took upon a simple form of data augmentation where we are able to preserve all of the instances with missing values by filling them with averages of the the feature. Although this doesn't 100% reflect the individual, but this is a step in the right direction. With this, we've so far increased our accuracy to 77%